#active_admin_content {
  @include clearfix;

  a.table_tools_button, .table_tools .dropdown_menu_button {
    @include rounded(0);
    @include no-shadow;
    color: $skinTextColor;
    background: #fff;
    padding: ($skinPadding / 2) $skinPadding;
    font-weight: normal;
    text-shadow: none;
  }

  .table_tools_segmented_control li {
    a {
      @include rounded(0);
      @include no-shadow;
      color: $skinTextColor;
      background: #fff;
      padding: ($skinPadding / 2) $skinPadding;
      font-weight: normal;
      text-shadow: none;
      border-color: $skinBorderColor;

      span.count {
        color: $skinActiveColor;
      }
    }

    &.selected {
      a {
        color: #fff;
        background-color: $skinActiveColor;

        span.count {
          color: #fff;
        }
      }
    }
  }

  @media screen and (max-width: 768px) {
    padding: 0;
    position: relative;

    #main_content_wrapper #main_content {
      margin: 0;
    }

    #index_footer {
      padding: 10px 15px;
      overflow: hidden;
    }

    .table_tools {
      padding: 10px;
      height: auto;
      margin-bottom: 0;
    }
  }
}
