html {
  background: $skinBackgroundColor;
  font-family: $skinFontFamily;
  height: 100%;
  min-height: 100%;
}

body.active_admin {
  background: $skinBackgroundColor;
  font-family: $skinFontFamily;
  padding-bottom: 80px;
}

body.logged_in {
  .flashes {
    .flash {
      position: inherit;
      top: 0;
      text-shadow: none;
    }
  }
}

strong, b {
  font-weight: 600;
}

.blank_slate_container .blank_slate {
  color: #7f8c8d;
}

form button, form input[type=submit], form input[type=button],
a.table_tools_button, .table_tools .dropdown_menu_button,
form.filter_form a.clear_filters_btn {
  font-family: $skinFontFamily;
}
