#header {
  background: $skinBackgroundColor;
  border: none;
  text-shadow: none;
  height: $skinHeaderHeight;
  padding: 0;

  h1.site_title {
    background-color: #fff;
    background: $skinLogo;
    padding-left: $skinLogoWidth;
    color: $skinTextColor;
    text-indent: -999999px;

    a {
      display: block;

      img {
        display: block;
        top: 0;
        height: $skinPadding;
      }
    }
  }

  a, a:link {
    color: $skinTextColor;
  }

  ul.tabs {
    padding: 0;
    font-size: 0;
  }

  ul.tabs > li:hover > a, ul.tabs > li.current > a {
    color: $skinTextActiveColor;
    background: $skinActiveColor;
    @include rounded(0);
    margin: (-10px) 0;
  }

  ul.tabs > li {
    font-size: 12px;
    margin: 0;

    a {
      padding: 13px 20px;
      margin: 0;
    }
  }

  ul.tabs > li.has_nested a {
    background-position: 93% 50%;
  }

  ul.tabs > li.has_nested:hover {
    a {
      @include rounded(0);
      background-color: $skinActiveColor;
      border: none;
      background-position: 93% 50%;
    }

    ul {
      background: $skinActiveColor;
      @include no-shadow;
      @include rounded(0);
      border: none;

      li a {
        color: #fff;

        &:hover {
          color: $skinTextColor;
        }
      }
    }
  }

  ul.tabs > li.has_nested.current a {
    background-color: $skinActiveColor;
    background-position: 93% 50%;
  }

  #utility_nav {
    background: #fff;
    padding: 0;

    li#logout a {
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    li a {
      &:hover {
        background: none;
        color: $skinTextColor;
      }
    }
  }
}

#title_bar {
  background: $skinHeaderBck;
  text-shadow: none;
  border: none;
  padding: $skinPadding $skinPadding;
  @include no-shadow;
  border-bottom: $skinHeaderBottomBorderWidth solid $skinActiveColor;
  margin: 0;

  h2 {
    color: #fff;
  }

  .action_items {
    a {
      color: #fff;
      text-shadow: none;
      border: none;
      padding: 17px;
      font-size: 14px;
      background: $skinActiveColor;
      @include rounded(0);
      @include no-shadow;

      &:hover {
        background: lighten($skinActiveColor, 10%) !important;
        color: white;
      }
    }

    span.action_item > a,
    span.action_item > .dropdown_menu > a {
      text-shadow: none;
      box-shadow: none;
      border-radius: 0;
      border-color: inherit;
      font-family: $skinFontFamily;
    }
  }
}
