#header {
  background: $skinBackgroundColor;
  border: none;
  text-shadow: none;
  height: $skinHeaderHeight;
  padding: 0;

  h1.site_title {
    background-color: #fff;
    background: $skinLogo;
    padding-left: $skinLogoWidth;
    color: $skinTextColor;
    text-indent: -999999px;

    a {
      display: block;

      img {
        display: block;
        top: 0;
        height: $skinPadding;
      }
    }
  }

  a, a:link {
    color: $skinTextColor;
  }

  ul.tabs {
    padding: 0;
    font-size: 0;

    > li {
      font-size: 12px;
      margin: 0;

      a {
        margin: 0;
        padding: 14px 20px;
        border-radius: 0;
        border-right: thin solid rgba(0, 0, 0, 0.1);
      }

      &:hover > a, &.current > a {
        color: $skinTextActiveColor;
        background: $skinActiveColor;
        margin: (-10px) 0;
        @include rounded(0);
      }

      &.has_nested {
        a {
          background-position: 87.5% 50%;
          padding-right: ($skinPadding * 1.5) !important;
        }

        &.current a {
          background-color: $skinActiveColor;
          background-position: 87.5% 50%;
        }

        &:hover {
          a {
            @include rounded(0);
            background-color: $skinActiveColor;
            background-position: 87.5% 50%;
            border-bottom: 0;
            border-right-color: transparent;
          }

          ul {
            background: $skinActiveColor;
            @include no-shadow;
            @include rounded(0);
            border: none;
            margin: 0;
            padding: 0;
            top: 150%;

            li a {
              color: #fff;
              border-top: thin solid darken($skinActiveColor, 5%);

              &:hover {
                color: $skinTextColor;
              }
            }

            li:first-child a {
              border-top-width: 0;
            }
          }
        }
      }
    }
  }

  #utility_nav {
    background: #fff;
    padding: 0;

    li#logout a {
      font-weight: bold;
      text-decoration: underline;

      &:hover {
        text-decoration: none;
      }
    }

    li {
      a {
        border-left: thin solid #ddd;
        border-radius: 0;

        &:hover {
          background: none;
          color: $skinTextColor;
        }
      }

      &:first-child a {
        border-left-width: 0;
      }
    }
  }

  @media screen and (max-width: 768px) {
    display: block;

    .header-item {
      top: 0;
    }

    .site_title, #tabs, #utility_nav {
      float: left;
      display: block;
      height: 40px;
      margin: 0;
    }

    ul.tabs > li {
      &:hover > a, &.current > a {
        margin: 0;
      }

      a {
        display: block;
        line-height: 20px;
        padding: 10px 15px;
      }
    }

    #tabs {
      width: auto;
      overflow: hidden;
      background: $skinActiveColor;

      &:before, &:after {
        content: '';
        position: absolute;
        top: 50%;
        right: 10px;
        border: 5px solid transparent;
        margin-top: -3px;
        border-top-color: white;
        z-index: 200;
      }

      > li {
        display: block;
        background: white;
        visibility: hidden;
        white-space: nowrap;
        min-width: 110px;

        a {
          padding-right: 20px;
        }

        &.current {
          position: absolute;
          top: 0;
          left: 0;
          right: 0;
          visibility: visible;
          z-index: 100;
        }
      }

      &:hover {
        padding-right: 0;
        z-index: 999;
        overflow: visible;
        padding-top: 40px;
        box-sizing: border-box;
        box-shadow: 0 0 5px black;

        > li {
          visibility: visible;
          box-shadow: 0 1px 1px black;
        }

        ul {
          left: 100%;
          top: 0;
        }
      }
    }

    #utility_nav {
      float: right;

      li {
        float: left;
        display: block;
      }

      #current_user {
        display: none;
      }
    }
  }
}

#title_bar {
  background: $skinHeaderBck;
  text-shadow: none;
  border: none;
  padding: $skinPadding $skinPadding;
  @include no-shadow;
  border-bottom: $skinHeaderBottomBorderWidth solid $skinActiveColor;
  margin: 0;

  h2 {
    color: #fff;
  }

  .action_items {
    a {
      color: #fff;
      text-shadow: none;
      border: none;
      padding: 17px;
      font-size: 14px;
      background: $skinActiveColor;
      @include rounded(0);
      @include no-shadow;

      &:hover {
        background: lighten($skinActiveColor, 10%) !important;
        color: white;
      }
    }

    span.action_item > a,
    span.action_item > .dropdown_menu > a {
      text-shadow: none;
      box-shadow: none;
      border-radius: 0;
      border-color: inherit;
      font-family: $skinFontFamily;
    }
  }
}
