body.logged_out {
  height: 100%;

  #footer {
    display: none;
  }

  #content_wrapper {
    margin: auto;
    width: auto;
    max-width: 500px;
    padding: 10em 0 4em;

    #active_admin_content {
      padding: 0 $skinPadding;
    }

    @media screen and (max-width: 768px) {
      padding-top: 3em;

      #admin_user_remember_me_input {
        margin-bottom: 1em;
      }

      #login form fieldset input[type=text],
      #login form fieldset input[type=email],
      #login form fieldset input[type=password] {
        width: 100%;
      }
    }
  }

  #login {
    form fieldset {
      border: none;
    }

    > h2 {
      background: $panelHeaderBck;
      font-family: $skinFontFamily;
      color: #fff;
      @include no-shadow;
      @include rounded(0);
      margin: 0 -#{$skinPadding};
      padding: ($skinPadding / 2) $skinPadding;
    }

    fieldset.actions {
      background: $skinLightBackgroundColor;
      margin: $skinPadding -#{$skinPadding} -17px;
      padding: ($skinPadding / 2) $skinPadding;
    }

    a {
      margin-top: -25px;
    }
  }

  .flash {
    background: #F2ECBF;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    padding: $skinPadding;
    border-bottom: 1px solid #DEDE8B;
    text-shadow: none;

    + #active_admin_content {
      margin-top: 3em;
    }
  }
}
