.sidebar_section.panel {
  background: #fff;
  border: 1px solid $skinBorderColor;
  @include no-shadow;
  @include rounded(0);

  form .buttons {
    background: $skinLightBackgroundColor;
    margin: 25px -15px -15px;
    padding: ($skinPadding / 2) $skinPadding;
  }

  form fieldset {
    margin-bottom: 0;
  }

  & > h3 {
    background: $panelHeaderBck;
    color: #fff;
    border: none;
    margin: 0;
    padding: ($skinPadding / 2) $skinPadding;
    @include no-shadow;
    @include rounded(0);
    text-shadow: none;
    font-weight: bold;
  }

  .filter_form_field {
    label {
      color: $skinLabelColor;
      font-weight: normal;
      font-size: 13px;
      text-transform: uppercase;
      font-family: $skinFontFamily;
      padding: 7px 0;
    }
  }
}

@media screen and (max-width: 768px) {
  #active_admin_content #sidebar {
    position: absolute;
    top: 0;
    right: 0;
    margin: 7px;
    width: auto;

    .sidebar_section.panel {
      margin: 0;
    }

    .panel_contents {
      display: none;
    }

    &:hover .panel_contents {
      display: block;
    }
  }
}
