form input[type=submit],
a.button,
a:link.button,
a:visited.button {
  @include no-shadow;
  @include rounded(0);
  background: $skinActiveColor;
  color: #fff;
  border: none;
  text-shadow: none;
  padding: ($skinPadding / 2) $skinPadding;

  &:hover {
    background: lighten($skinActiveColor, 10%) !important;
  }
}

.comments form.active_admin_comment fieldset.inputs {
  border: none;
}

.ui-datepicker {
  .ui-datepicker-header {
    width: auto !important;

    &:before {
      display: none !important;
    }
  }

  table.ui-datepicker-calendar {
    width: 100% !important;
    border: 0;
  }
}

form {
  fieldset.buttons li.cancel a,
  fieldset.actions li.cancel a,
  &.filter_form a.clear_filters_btn {
    @include no-shadow;
    @include rounded(0);
    text-shadow: none;
    background: $skinBackgroundColor;
    padding: ($skinPadding / 2) $skinPadding;
    color: $skinLabelColor;

    &:hover {
      background: lighten($skinBackgroundColor, 5%) !important;
    }
  }

  fieldset.inputs {
    background: #fff;
    border: 1px solid $skinBorderColor;
    position: relative;
    padding-top: 50px;
    @include no-shadow;
    @include rounded(0);

    legend {
      position: absolute;
      top: 0;

      span {
        background: #f0f4f5;
        color: $panelHeaderBck;
        border: none;
        margin: 0;
        padding: 8px $skinPadding;
        @include no-shadow;
        @include rounded(0);
        text-shadow: none;
        font-weight: bold;
        border-bottom: 1px solid $skinBorderColor;
      }
    }

    fieldset > ol > li fieldset ol li {
      clear: both;

      select {
        margin-top: 6px;
      }
    }

    ol > li {
      label {
        padding-top: 7px;
        text-transform: uppercase;

        abbr {
          color: orangered;
          font-weight: normal;
          font-size: 14px;
        }
      }

      &.boolean label {
        padding-top: 0px;
        margin-bottom: $skinPadding;
      }
    }
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=tel],
  textarea {
    font-family: $skinFontFamily;
    padding: 8px 10px;
    border-radius: 4px;
    width: 80%;
    box-sizing: border-box;
  }

  input[type='number'] {
    width: auto;
  }

  select {
    display: inline-block;
    height: 31px;
    border: thin solid;
    width: auto;
    max-width: 80%;
    font-size: 0.95em;
    border: 1px solid $skinBorderColor;
  }

  @media screen and (max-width: 768px) {
    fieldset.inputs {
      border-left: 0;
      border-right: 0;

      ol > li label {
        float: none;
        width: auto;
      }
    }

    fieldset.actions {
      padding: $skinPadding / 2;
    }

    fieldset > ol > li {
      &.boolean label {
        padding-left: 0;
      }

      p.inline-hints {
        margin-left: 0;
      }
    }

    input[type=text], input[type=password], input[type=email],
    input[type=number], input[type=url], input[type=tel],
    textarea, .note-editor, select, .selectize-control {
      width: 100% !important;
      max-width: 100%;
      box-sizing: border-box;
    }
  }
}
