form input[type=submit],
a.button,
a:link.button,
a:visited.button {
  @include no-shadow;
  @include rounded(0);
  background: $skinActiveColor;
  color: #fff;
  border: none;
  text-shadow: none;
  padding: 11px 20px;

  &:hover {
    background: lighten($skinActiveColor, 10%) !important;
  }
}

form fieldset.buttons li.cancel a,
form fieldset.actions li.cancel a,
form.filter_form a.clear_filters_btn {
  background: $skinBackgroundColor;
  @include no-shadow;
  @include rounded(0);
  text-shadow: none;
  padding: 10px 20px;
  color: $skinLabelColor;

  &:hover {
    background: lighten($skinBackgroundColor, 5%) !important;
  }
}

form {
  fieldset.inputs {
    background: #fff;
    border: 1px solid $skinBorderColor;
    position: relative;
    padding-top: 50px;
    @include no-shadow;
    @include rounded(0);

    legend {
      border-bottom: 1px solid $skinBorderColor;
      position: absolute;
      top: 0;

      span {
        background: #f0f4f5;
        color: $panelHeaderBck;
        border: none;
        margin: 0;
        padding: 8px $skinPadding;
        @include no-shadow;
        @include rounded(0);
        text-shadow: none;
        font-weight: bold;
      }
    }

    fieldset > ol > li fieldset ol li {
      clear: both;

      select {
        margin-top: 6px;
      }
    }

    ol > li {
      label {
        padding-top: 7px;
        text-transform: uppercase;
      }

      &.boolean label {
        padding-top: 0px;
        margin-bottom: $skinPadding;
      }
    }
  }

  input[type=text],
  input[type=password],
  input[type=email],
  input[type=number],
  input[type=url],
  input[type=tel],
  textarea {
    @include rounded(0);
    font-family: $skinFontFamily;
    padding: 5px 10px;
  }
}

form.filter_form .filter_form_field.filter_date_range input[type=text] {
  background-position: 100% 4px;
}

.comments form.active_admin_comment fieldset.inputs {
  border: none;
}
